<style type="text/css">

  #topDiv{
    display: flex;
    padding: 0;
    flex-wrap: wrap;
  }

  #back, #addST{
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
  }

  #addST{
    justify-content: flex-end;
  }

  .checkmark {
    display: none;
    margin: 0 7.6px;
  }
  
  .options,
  .completed,
  .delete,
  .archive, .addTask {
    flex: 0 0 0;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0 4px;
    /* margin-bottom: -0.25px;*/
    display: block;
  }
  
  .completed {
    margin: 0 1.5px;
  }
  
  .options {
    padding: 5px;
    border-radius: 3px;
    border: 1.55px solid;
    display: none;
    min-width: 70px;
    min-height: 30px;
  }
  /*  .options:hover{
    background-color: black;
  }*/
  
  .options:focus img,
  .completed:focus img,
  .delete:focus img,
  .archive:focus img,
  .addTask:focus img {
    outline: none;
  }
  
  .options:active img,
  .completed:active img,
  .delete:active img,
  .archive:active img,
  .addTask:active img {
    outline: none;
  }
  
  .options img,
  .completed img {
    max-height: 20px;
    max-width: 20px;
  }
  
  .completed img {
    max-height: 25px;
    max-width: 25px;
  }
  
  .delete img {
    max-height: 27px;
    max-width: 27px;
    margin: 2px;
  }
  
  .archive img, .addTask img {
    max-height: 25px;
    max-width: 25px;
    margin: 2px;
  }
  
  .options:focus {
    outline: none;
  }
  
  .options:hover {
    border: 2px solid;
    border-color: #fa6200;
    -webkit-transition: border border-color 0.8s ease;
    -moz-transition: border border-color 0.8s ease;
    -o-transition: border border-color 0.8s ease;
    -ms-transition: border border-color 0.8s ease;
    transition: border border-color 0.8s ease;
  }

  article{
    padding: 0;
  }
  .content{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0;
  }
   #commentsDiv{
      background:#fff; 
      margin: 0;
      margin-right: 10px;
      flex: 1;
      display: block;
      overflow-x: hidden;
      background-color: transparent;
   }

  #taskDiv{
    display: block;
    flex-direction: column;
    margin: 0 10px;
    overflow: auto;
    background-color: white;
    padding: 10px 20px;
    flex: 3 0 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
  }

  #taskDiv #deadlineDiv{
    margin-top: 20px;
    align-self: center;
    font-size: 15px;
    margin-left: 70%;

  }
  #taskDiv h1{
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
  }

  #tasks{
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    background-color: transparent;
/*    word-break: break-all;*/
    margin-top: 30px;
    font-size: 18px;
  }

  @media(max-width: 1000px){
    .content{
      display: block;
      padding: 0;
    }

    #taskDiv{
      min-height: 85%;
    }

    #taskDiv, #commentsDiv{
          margin-top: 0;
          margin-right: 1px;
          margin-left: 1px;
    }
  }


    /*@media (max-width: 991px){
      .content{
        height: calc(100% - 110px);
      }
    }*/
 
  @media (max-width: 767px){
      #commentsDiv{
        padding-bottom: 50px;
      }
    }

    @media (max-width: 1245px){
      #commentsDiv{
      flex: 2;
    }

    }


.taskHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .taskHeader a {
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*color: rgba(43, 39, 40, 0.7);*/
  }
  
  .taskHeader a:hover {
    /*color: rgba(43, 39, 40, 0.7);*/
  }
 
  
  .timeline {
    position: relative;
    margin: 0 0 21px 0;
    padding: 0;
    list-style: none;
  }
  
  .timeline>li {
    position: relative;
    margin-right: 7px;
    margin-bottom: -20px;
  }
  
  .timeline>li:before,
  .timeline>li:after {
    content: " ";
    display: table;
  }
  
  .timeline>li:after {
    clear: both;
  }
  
  .timeline>li>.timeline-item {
    /*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    position: relative;
  }
  
  .timeline>li>.timeline-item>.time {
    float: right;
    padding: 0;
    margin: 0;
  }
  
  .timeline>li>.timeline-item>.timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 20px;
    line-height: 1.5;
  }
  
  .timeline>li>.timeline-item>.timeline-header>a {
    font-weight: 600;
  }
  
  .timeline>li>.timeline-item>.timeline-body,
  .timeline>li>.timeline-item>.timeline-footer {
    padding: 10px;
  }
  
  .timeline>li>.fa,
  .timeline>li>.glyphicon,
  .timeline>li>.ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
  }
  
  .timeline>.time-label>span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .timeline-inverse>li>.timeline-item {
    background: #f0f0f0;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .timeline-inverse>li>.timeline-item>.timeline-header {
    border-bottom-color: #ddd;
  }
  
  
  .repeated-item.ng-leave {
    -webkit-animation: 0.5s my_animation;
    -moz-animation: 0.5s my_animation;
    -o-animation: 0.5s my_animation;
    animation: 0.5s my_animation;
  }
  
  @keyframes my_animation {
    from {
      max-height: 90px;
      opacity: 1;
      left: 0;
    }
    to {
      max-height: 0;
      opacity: 0;
      left: -50px;
    }
  }
}

.settings {
  display: block;
  position: fixed;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  margin: 0;
}
.settings .container {
  display: block;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
}
.panel {
  /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);*/
}
.panel>.panel-heading {
  background-image: none;
  background-color: transparent;
  color: black;
}
.panel-collapse {
  background-color: rgb(255, 255, 255);
  /*box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);*/
}
form.settingsForm {
  flex-direction: column;
  display: flex;
  width: 320px;
  justify-content: center;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
}
form.settingsForm input {
  flex: 1 1 auto;
  margin: 0;
  font-size: 20px;
  align-self: center;
  background-color: white;
  box-sizing: border-box;
  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0.5);
  max-height: 40px;
  padding: 0 15px;
}
form.settingsForm button {
  background-color: rgba(250, 98, 0, 0.7);
  align-self: flex-end;
  border: none;
  min-width: 100px;
  min-height: 30px;
  margin: 20px 23px;
  font-family: 'Roboto', sans-serif;
  border: none;
  color: white;
}
a,
a:hover,
a:focus {
  outline: none;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: rgb(250, 98, 0);
}

#projectDescDiv{
  border: 0.5px solid;
  border-color: transparent;
  padding: 10px 5px;
}

#projectDescDiv:hover, #projectDescDiv:focus, #projectDescDiv:active{
  border-color: black;
}

#createSubtask{
  z-index:0;
  background-color: transparent;
  outline: none;
  border: none;

}

#createSubtask:hover, #createSubtask:active, #createSubtask:focus{
  background-color: transparent;
}

#createSubtask img{
  max-width: 30px;
  max-height: 30px;
}

#header{
background-color: white; 
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24); 
padding: 8px;
}

#header h1{
display: flex; 
flex-direction: row; 
flex-wrap: nowrap; 
width: 40%; 
align-items: center; 
justify-content: center; 
margin-bottom: 5px;
}

#header h1 > span{
overflow: hidden; 
text-decoration: none; 
white-space: nowrap; 
text-overflow: ellipsis;
}

#addST img{
max-width: 25px; 
max-height: 25px;
margin: 2px;
}

#projectInfo{
  margin-top: 20px; 
}

#projectInfo img{
width: 20px; 
height: 20px;
}

#taskTitle{
  display: flex; 
  margin-bottom: 10px;
}

#taskTitle h1{
  width: calc(100% - 45px);
  word-wrap:break-word; 
  word-break: all; 
  text-overflow: ellipsis;
}

#completeTask{
  width: 45px; 
  margin-top: 5px
}

#completeTask img{
  max-width: 32px; 
  max-height: 32px;
}

#deadline {
  display: inline-block;
  margin: 5px 0 20px 8px;
}

#deadline > div{
  display: flex;
  margin-bottom: 5px;
}

#deadline > div > img{
  width:20px; 
  height: 20px;
  margin-right: 5px;
}

#attachmentDiv {
  margin: 13px 0;
}

#attachmentDiv > header{
  font-size: 20px;
  margin-left: 15px;
}

#downloadAll{
  float: right;
  margin-right: 5px;
}

#downloadAll img{
  width: 20px;
  height: 20px;
}
/*#attachmentDiv div{
  max-height: 150px;
  overflow-y: auto;
}*/

#attachedFiles{
  background-color: rgb(245, 245, 245);
  margin: 8px 0 8px 20px;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid rgb(200, 200, 200);
  display: flex;
}

#attachedFiles div{
display: flex; 
flex-direction: row; 
flex-wrap: nowrap; 
width: calc(100% - 20px);
overflow: hidden;
}

#attachedFiles div a {
  color: rgb(17, 85, 204);
  text-shadow: 0.5px 0px 0px rgb(17, 85, 204);
  overflow: hidden; 
  text-decoration: none; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

#attachedFiles button{
  width: 20px;
  outline: none;
  border: none;
  background-color: transparent;
  float: right;
  margin: 0;
}

#attachedFiles button img{
  width: 15px;
  height: 15px;
}

#SortFilterOptions {
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  
  #SortFilter,
  #SearchField {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
/*    justify-content: center;*/
    justify-content: flex-end;
  }
  
  #SortFilter .sort,
  #SortFilter .filter {
    margin: 0;
    margin-top: 5px;
    background-color: transparent;
    padding-right: 2px;
    color: black;
    width: 90px;
    height: 30px;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }

  #SortFilter .sort img,
  #SortFilter .filter img {
    margin-top: -2px;
    margin-left: 2px;
    max-width: 15px;
    max-height: 15px;
  }
  
  #SortFilter .sort:hover,
  #SortFilter .sort:focus,
  #SortFilter .filter:hover,
  #SortFilter .filter:focus {
    background-color: transparent;
  }
  
  #SortFilter .sortDropdown,
  #SortFilter .filterDropdown,
  .view {
    position: relative;
    display: inline-block;
  }
  
  #SortFilter .sortDropdown-content,
  #SortFilter .filterDropdown-content, .view-content {
    min-width: 110px;
    display: none;
    position: absolute;
    overflow: auto;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 11;
  }
  
  #SortFilter .filterDropdown-content {
    width: 220px;
  }
  
  #SortFilter .sortDropdown-content .md-button,
  #SortFilter .filterDropdown-content .md-button {
    width: 110px;
    color: black;
    background-color: white;
    padding: 2px 0 2px 15px;
    text-decoration: none;
    text-transform: none;
    border-radius: 0;
    display: block;
    margin: 0;
    text-align: left;
  }

  #SortFilter .filterDropdown-content .md-button {
    width: 220px;
  }
  
  #SortFilter .sortDropdown .md-button:hover,
  #SortFilter .filterDropdown .md-button:hover {
    background-color: #f1f1f1
  }
  
  #SortFilter .show {
    display: block;
  }
  
  .view {
  position: relative;
  display: inline-block;
}

#viewButton {
    margin: 0;
    margin-top: 5px;
    background-color: white;
    padding-right: 2px;
    color: black;
    height: 30px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

#viewButton img{
    margin-top: -2px;
    margin-left: 2px;
    max-width: 15px;
    max-height: 15px;
}

  
#viewButton:hover, #viewButton:focus, #viewButton:active{
  background-color: white;
  outline: none;
}

.view-content{
    min-width: 110px;
    display: none;
    position: absolute;
    overflow: auto;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.view-content .md-button {
    min-width: 180px;
    color: black;
    background-color: white;
    padding: 2px 0 2px 15px;
    text-decoration: none;
    text-transform: none;
    border-radius: 0;
    display: block;
    margin: 0;
    text-align: left;
}
  .view-content .md-button:hover{
    background-color: #f1f1f1;
  }

  .collabs{
    /*position: relative;*/
}
.collabs, .collabs ul {
    list-style-type:     none;
    list-style-position: outside;
    /*position:            relative;*/
    line-height:         30px;
    margin:              0;
    padding:             0;
}


.collabs li {
    float:        left;
    margin-right: 1px;
    padding-bottom: 10px;
}

.collabs ul {
    /*position: absolute;*/
    display:  none;
    width:    100%;
    top:      2.5em;
    padding: 0;
}

.collabs button{

  outline: none;
  border: none;
  background-color: transparent;
  left: 5px;
  padding: 0;
  float: left;
}

#selectCollabs:hover{
  background-color: orange;
}


</style>

<center>
  <section class="content-header" id="header" ng-init="getTaskDetails()">

    <h1>
      <span class="editable" contenteditable="true"  spellcheck="false" placeholder="Title" ng-model="project_title" ng-keydown="ctrl.updateProjectTitle($event)">
      {{project_details.name}}
      </span>
    </h1>
    <span style=" font-size: 17px; margin-right: 2px; margin-bottom: 3px;">Ave. Rating: </span>
    <span style=" font-size: 17px;" uib-rating ng-model="ave_rating" max="5" read-only="true" on-hover="hoveringOver(value)" on-leave="setRatingOnDetails()" titles="['1','2','3','4','5']" aria-labelledby="default-rating"></span>({{ave_rating}})
  </section>
</center>

<section class="content">

    <aside id="commentsDiv" style="margin-bottom: 0; border-bottom: 1px solid rgba(200, 200, 200, 0.6); padding-bottom: 0">
        <div class="settings">
          <div class="panel-group container" id="projDetailsPanel" style=" margin-bottom: 0;">
            <div class="panel panel-default" style="border: none; box-shadow: none;">
              
                <div class="panel-heading" style="border: none;" onclick="changeArrow('arrow')">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#projDetailsPanel" href="#projDetails" ui-sref="#changePW">
                  <div class="panel-title" style="font-size: 20px;">
                    <img id="arrow" src="/static/images/arrowDown.png" style="width: 8px; height: 8px;">
                    Project Details
                  </div>
                  </a>
                </div>
              

              <div id="projDetails" class="panel-collapse collapse">


                <div class="panel-body" style="display: flex; flex-direction: column;">

  <div style="border-bottom: 1px solid rgba(200, 200, 200, 0.6)">
  <ul class="dropdown collabs">
    <li ng-repeat="collab in project_details.collaborators">

      <img src="{{collab.profpic_path}}?" class="dropdown-toggle"  data-toggle="dropdown" onerror="this.onerror=null;this.src='/static/images/user.png';" style="height: 30px; width: 30px; margin-right: 5px; border-radius: 50%" title="{{collab.fullname}}">   

      <ul class="dropdown-menu">
        <li style="width: 100%;">

          <div style="width: 100%; margin: 5px">
              <div class="pull-left image" style="margin: 5px">
                  <img src="{{collab.profpic_path}}?" alt="error" style="width:50px; height:50px;  display: block; border-radius: 50%" onerror="this.onerror=null;this.src='/static/images/user.png';">
              </div>
              <div>
                  <div style="width: calc(100% - 80px); overflow: hidden; text-overflow:ellipsis; white-space: nowrap; padding: 5px; margin-top: 3px">
                  {{collab.fullname}}
                  </div>
                  <div class="text-aqua text-sm" style="width: calc(100% - 80px); margin-top: -25px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap; padding: 5px;">
                  @{{collab.username}}
                  </div>
              </div>
          </div>

          

           <div style="margin-top: -20px; margin-left: 15px;">

              <br> <button ng-click="ctrl.setUserDetails(collab)"><strong><a ui-sref="profile">Go to profile</a></strong></button> <br>
              <button ng-click="ctrl.deleteCollaborator(collab)"><strong>Remove from project</strong></button> 
          </div>
           
        </li>
      </ul>
    </li>

    <li><img src="/static/images/addpeople.png" class="dropdown-toggle"  data-toggle="dropdown" onerror="this.onerror=null;this.src='/static/images/user.png';" style="height: 30px; width: 30px; margin-right: 5px;" title="add collaborator">    
      <ul class="dropdown-menu">
        <li style="width: 100%; padding: 10px 8px 10px 10px">

          <form>
            <input style="width: 100%" type="text" ng-model="query" name="" placeholder="Find users..">
          </form>

          <div ng-if="query.length > 0" style="margin-top: 10px; max-height: 100px; overflow-y: auto">
            <div ng-repeat="user in users | filter : query | orderBy : 'first_name'">
              <div id="selectCollabs" style=" width: 100%; padding: 5px; display: flex; flex-direction: row;" ng-click="ctrl.addCollaborator(user)">
                  <div>
                  <img src="{{user.profpic_path}}?" onerror="this.onerror=null;this.src='/static/images/user.png';" style="height: 20px; width: 20px; margin: 5px; border-radius: 50%">
                  </div>
                  <div style="width: calc(100% - 30px); word-break: break-all; word-wrap: break-word; line-height: 1.2em"><a  >{{user.fullname}} <br> <span class="text-aqua text-sm">@{{user.username}}</span></a></div>
              </div>
              <!-- <hr style="margin: 0"> -->
            </div>
          </div>
           
        </li>
      </ul>
    </li>

  </ul>

</div>

                

                
<!--                     <h3  spellcheck="false" style="margin: 0; " class="editable" contenteditable="true"  spellcheck="false" placeholder="Description" ng-model="project_description" >
                      {{project_details.description}}
                    </h3> -->
                    <div style="border-bottom: 1px solid rgba(200, 200, 200, 0.6); margin: 7px 0; padding: 5px 0;">
                    <a href="#" editable-textarea="project_description" e-rows="7" e-cols="20" onbeforesave="ctrl.updateProjectDescription($data)">
                     <pre>{{project_details.description || 'no task description'}}</pre>
                  </a>
                  </div>
                   <!--  <img src="/static/images/edit.png" ng-click="ctrl.updateProjectDescription()" style="margin-left: 10px; width: 20px; height: 20px; margin-top: 2px;" > -->   
                  

                  <!-- <hr> -->

                    <div id="deadline">
                      <div>
                        <img src="/static/images/date-icon.png" uib-datepicker-popup ng-model="project_date" bindToController="true" is-open="opened" datepicker-options="dateOptions" popup-placement="bottom-left" close-text="" ng-click="open2()" placeholder="YYYY-MM-DD" show-button-bar="false" ng-change="ctrl.updateProjectDueDate()"> 
                        <span>
                          Due Date : {{project_details.deadline_date | date : 'MMMM d, y'}} 
                          <span ng-if="!project_details.deadline_date">unspecified</span>
                        </span>
                      </div>

                      <div>
                        <img src="/static/images/time-icon.png" popover-placement="bottom-left" uib-popover-template="'timepicker.html'" popover-is-open="isOpen" popover-trigger="'outsideClick'">

                        <script type="text/ng-template" id="timepicker.html">
                          <div uib-timepicker  ng-model="mytime"    hour-step="1" 
                               minute-step="1" show-meridian="true" class="exclude" 
                               controller="ProjectController" bindToController="true"> 
                           </div>
                             <img src="/static/images/save.png" 
                                  style="float: right; width: 25px; height: 25px; border-left: 2px solid #000;
                                         margin-bottom: 5px;" 
                                  ng-click="ctrl.updateProjectDueTime(mytime)">
                        </script>

                        <span>
                           Due Time : 
                            {{project_details.deadline_time | date : 'h:mm a'}}
                          <span ng-if="!project_details.deadline_time">unspecified</span>
                        </span>
                      </div>

                      <div>
                        <img src="/static/images/status_icon.png">
                        <span>
                           Status : 
                            {{status}}
                        </span>
                      </div>

                    </div>
                  </div>


                </div>
              </div>

            </div>
          </div>
        </div>  
    </aside>

    <div id="taskDiv"> 

      <div id="addST" style="margin: 10px 20px 5px 0">  
            <img src="/static/images/addSubtask.png?"
                 title="Add a task to project" data-toggle="tooltip" data-placement="top" tooltip ng-click="ctrl.showCreateTask()">
          
        </div>

        <div id="SortFilterOptions" style="margin: 10px; margin-right: 20px; margin-top:5px; margin-bottom: 20px;">
            <div id="SearchField" style="height: 35px; justify-content: flex-start;">
              <div class="view" style="margin-right: 15px; margin-left: 0;">
                <button onclick="sortByFunction()" id="viewButton">View: Incomplete Tasks
                </button>
                <div id="viewContent" class="view-content">
                  <md-button class="md-button" id="titleView" onclick="viewFunction(this.id)" ng-click="order='title'">Tasks by Title</md-button>
                  <md-button class="md-button" id="recentView" onclick="viewFunction(this.id)" ng-click="order='-create_date'">Recent Tasks</md-button>
                  <md-button class="md-button" id="oldestView" onclick="viewFunction(this.id)" ng-click="order='create_date'">Oldest Tasks</md-button>
                  <md-button class="md-button" id="completeView" onclick="viewFunction(this.id)" ng-click="ctrl.setTaskListFilter('complete')">Completed Tasks</md-button>
                  <md-button class="md-button" id="incompleteView" onclick="viewFunction(this.id)" ng-click="ctrl.setTaskListFilter('incomplete')">Incomplete Tasks</md-button>
                  <md-button class="md-button" id="unassignedView" onclick="viewFunction(this.id)" ng-click="ctrl.setTaskListFilter('unassigned')">Unassigned Tasks</md-button>
                </div>
              </div>
            </div>
        </div>

        <div class="settings">
          <div class="panel-group container" id="parentpanel">
            <div class="panel panel-default" style="border: none; box-shadow: none" >
              
                <div class="panel-heading" style="border: none; width: 130px;">
                  <a class="accordion-toggle"  data-parent="#parentpanel" >
                  <div class="panel-title" style="font-size: 20px;">
                    <img id="arrow2" src="/static/images/arrowDown.png" style="width: 8px; height: 8px;">
                    Tasks
                  </div>
                  </a>
                </div>
              

              <div class="in">
                <div class="panel-body" style="padding: 2px; padding-bottom: 50px;">
                  
                  <div class="row ">
                    <div class="col-md-12">

                      <ul class="timeline " ng-repeat="task in project_details.tasks | filter: {title:searchQuery || '' } | orderBy : order" class="repeated-item">
                        <li>
                          <div class="timeline-item " animate>
                            <span class="timeline-header time" style="float: left" animate>

                                <button ng-if="task.complete_date === null" class="completed" id="{{task.id}}" ng-click="ctrl.updateProjectTaskCompletion('complete', task)" >
                                    <img src="/static/images/incomplete.png" 
                                      onmouseover="this.src='/static/images/incompleteHover.png'"
                                      onmouseout="this.src='/static/images/incomplete.png'">
                                </button>
                               
                                <button  ng-if="task.complete_date !== null"  class="completed" id="{{task.id}}" ng-click="ctrl.updateProjectTaskCompletion('incomplete', task)" >
                                    <img src="/static/images/completed.png" 
                                     >
                                </button>
                              </span>

                              <span class="timeline-header time expandedTaskDetails" ng-show="task.assignees.length > 0" animate>
                                  <p style="margin: 0">
                                     <!--  {{task.deadline_date | date :  'M/d/yy'}} -->
                                      <span ng-repeat="assignee in task.assignees" ng-if="$first" style="margin-right: 3px;" title="{{assignee.fullname}}">  <img style="width: 25px; height: 25px; border-radius: 50%;" src="{{assignee.profpic_path}}?" onerror="this.onerror=null;this.src='/static/images/user.png';" class="img-circle" alt="User Image"></span>

                                      <button title="more assignees" tooltip data-placement="top" ng-show="task.assignees.length > 1" style="outline: none; background-color: transparent; border: none; margin:-2px; margin-left: -10px" uib-popover-template="'collab-template'" popover-placement="left" popover-trigger="'focus'">
                                        <img src="/static/images/arrowDown.png?" style="width:10px; height:10px;" >
                                      </button>
                                      

                                      <script type="text/ng-template" id="collab-template">
                                        <div style="max-height: 132px; overflow-y: auto; width: 150px; padding: 2px">
                                          <div ng-repeat="assignee in task.assignees" >
                                            <div style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 120; overflow-x: hidden">
                                              <div class="left-panel">
                                                <img src="{{assignee.profpic_path}}" onerror="this.onerror=null;this.src='/static/images/user.png';" />
                                              </div>
                                              <div class="right-panel" style="display: flex; flex-direction: column; flex-wrap: nowrap; width: 95px;">
                                                <span style="overflow: hidden; text-decoration: none; white-space: nowrap; text-overflow: ellipsis;">{{assignee.fullname}}</span>
                                                <span style="overflow: hidden; text-decoration: none; white-space: nowrap; text-overflow: ellipsis;">@{{assignee.username}}</span>
                                              </div>
                                            </div>
                                          
                                        </div>
                                        </div>
                                        
                                    </script>

                                  </p> 
                              </span>

                              <span class="timeline-header time expandedTaskDetails" ng-show="task.deadline_date !== null" animate>
                              {{task.deadline_date | date :  'MM/dd/yy'}}
                              </span>

                              <span class="timeline-header time contractedTaskDetails" animate>
                                <button title="details" tooltip data-placement="top" style="outline: none; background-color: transparent; border: none; margin:-2px; margin-left: -10px" uib-popover-template="'details-template'" popover-placement="left" popover-trigger="'focus'" >
                                    <img src="/static/images/more.png?" style="width:13px; height:16px;" >
                                  </button>

                                  <script type="text/ng-template" id="details-template">
                                        <div style="max-height: 132px; overflow-y: auto; width: 150px; padding: 2px">
                                          Due date: {{task.deadline_date | date :  'MM/dd/yy'}}
                                          <span ng-if="!task.deadline_date">unspecified</span>
                                          <div ng-repeat="assignee in task.assignees" >
                                            <div style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 120; overflow-x: hidden">
                                              <div class="left-panel">
                                                <img src="{{assignee.profpic_path}}" onerror="this.onerror=null;this.src='/static/images/user.png';" />
                                              </div>
                                              <div class="right-panel" style="display: flex; flex-direction: column; flex-wrap: nowrap; width: 95px;">
                                                <span style="overflow: hidden; text-decoration: none; white-space: nowrap; text-overflow: ellipsis;">{{assignee.fullname}}</span>
                                                <span style="overflow: hidden; text-decoration: none; white-space: nowrap; text-overflow: ellipsis;">@{{assignee.username}}</span>
                                              </div>
                                            </div>
                                          
                                        </div>
                                        </div>
                                        
                                    </script>


                              </span>



                            <h3 class="timeline-header taskHeader"><a ui-sref="taskdetails" ng-click="ctrl.setProjectTaskDetails(task)">{{task.title}}</a></h3>
                          </div>
                        </li>
                      </ul>
                       <div ng-if="project_details.tasks.length === 0" style="margin-top: 10%">
                        <center>There are no on-going tasks in this project. <a style="color: #fa6200" ng-click="ctrl.showCreateTask()">Create one?</a></center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
    </div>
</section>

  <script type="text/ng-template" id="auto-template">
     <div class="auto-template">
      <div class="left-panel">
        <img src="{{data.profpic_path}}?" onerror="this.onerror=null;this.src='/static/images/user.png';">
      </div>
      <div class="right-panel">
        <span ng-bind-html="$highlight($getDisplayText())"></span>
        <span>({{data.fullname}})</span>
        <span>{{data.email}}</span>
      </div>
     </div>
  </script>
  <script type="text/ng-template" id="tag-template">
      <div class="tag-template" >
        <div title="<b>{{data.fullname}}</b><br><i>{{data.username}}</i>" data-html="true" tooltip data-placement="bottom">
          <img src="{{data.profpic_path}}?" onerror="this.onerror=null;this.src='/static/images/user.png';">
        </div>
        <div>
          <span style="display:none;">{{data.fullname}}</span>
          <a class="remove-button" ng-click="$removeTag()">&times;</a>
        </div>
      </div>
  </script>
  <script type="text/ng-template" id="ratetask-template">
     <div class="modal-header" ng-init="ctrl.setRating()">
            <h3 class="modal-title" id="modal-title">Rate Task</h3>
      </div>
      <div class="modal-body" id="modal-titledal-body">
          <span style="margin-left: 80px;" uib-rating ng-model="rate" max="5" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['1','2','3','4','5']" aria-labelledby="default-rating"></span> ({{rate}})
      </div>
      <div class="modal-footer">
          <md-button style="float: left;" ng-click="ctrl.saveRating()">Rate!</md-button>
          <md-button ng-click="ctrl.close()">Later</md-button>
      </div>
    </script>
<script type="text/javascript">
  $('.dropdown-menu').find('form').click(function (e) {
    e.stopPropagation();
  });
    $(function(){
      $(window).resize(function() {    // Optional: if you want to detect when the window is resized;
          processBodies($(window).width());
      });
      function processBodies(width) {
          if(width > 1000) {
              $('#projDetails').collapse('show');
              document.getElementById('arrow').src = "/static/images/arrowDown.png";
              $('.expandedTaskDetails').addClass('show');
              $('.expandedTaskDetails').removeClass('hidden');

              $('.contractedTaskDetails').removeClass('show');
              $('.contractedTaskDetails').addClass('hidden');
              
          }
          else if(width < 500){
            $('#projDetails').collapse('hide');
              document.getElementById('arrow').src = "/static/images/arrowRight.png";

              $('.expandedTaskDetails').addClass('hidden');
              $('.expandedTaskDetails').removeClass('show');

              $('.contractedTaskDetails').addClass('show');
              $('.contractedTaskDetails').removeClass('hidden');
          }
          else {
              $('#projDetails').collapse('hide');
              document.getElementById('arrow').src = "/static/images/arrowRight.png";
          }
      }
      processBodies($(window).width());
  });

  function viewFunction(ID) {

    var elem = document.getElementById("viewButton");

    if(ID == "titleView"){
       elem.textContent = "View: Tasks by Title";
    }
    else if(ID == "recentView"){
      elem.textContent = "View: Recent Tasks";
    }
    else if(ID == "oldestView"){
      elem.textContent = "View: Oldest Tasks";
    }
    else if(ID == "completeView"){
      elem.textContent = "View: Completed Tasks";
    }
    else if(ID == "incompleteView"){
      elem.textContent = "View: Incomplete Tasks";
    }
    else if(ID == "unassignedView"){
      elem.textContent = "View: Unassigned Tasks";
    }

  }

  function sortByFunction() {
      document.getElementById("viewContent").classList.toggle("show");
    }

    window.onclick = function(event) {
      if (!(event.target.matches('#viewButton') || event.target.matches('#viewButton img'))) {

        var dropdowns = document.getElementsByClassName("view-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
      if (!(event.target.matches('.filter') || event.target.matches('.filter img'))) {

        var dropdowns = document.getElementsByClassName("filterDropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    function filterByFunction() {
      document.getElementById("filterBy").classList.toggle("show");
    }

  function changeArrow(id) {
    
    var arrow = document.getElementById(id).src;
    if( arrow.indexOf('arrowRight') >= 0){
      document.getElementById(id).src = "/static/images/arrowDown.png";
    }
    else if(arrow.indexOf('arrowDown') >= 0){
      document.getElementById(id).src = "/static/images/arrowRight.png";
    }
    
  }
  $('.placeholder').on('input', function(){
      if ($(this).text().length > 0) {
          $(this).removeClass('placeholder');
      } else {
          $(this).addClass('placeholder');
      }
  });
  $('contenteditable').keydown(function(e) {
      // trap the return key being pressed
      if (e.keyCode === 13) {
        // insert 2 br tags (if only one br tag is inserted the cursor won't go to the next line)
        document.execCommand('insertHTML', false, '<br><br>');
        // prevent the default behaviour of return key pressed
        return false;
      }
    });
</script>
<style type="text/css">
 .popover-content{
  border-radius: 0%;
 }

 [contenteditable=true]:empty:after {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color:grey;
 }
/*.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}*/
  .select-style {
  height: 30px; 
  border-top-color: transparent; 
  border-left-color: transparent;
  border-right-color: transparent;
  font-size: 15px;
}
.select-style option {
  font-size: 15px;
  margin-left:5px;
}
pre {
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word; 
}
.select-style:focus {
  -webkit-outline: none;
  -moz-outline: none;
  -o-outline: none;
  outline: none;
}
.tag-template div:first-child {
  float: left;
  padding-bottom: 0px;
}

.tag-template div:first-child img {
  width: 24px;
  height: 24px;
  float: left;
  border-radius: 50%;
  vertical-align: middle;
  /*background-color: white;*/
  margin-bottom: 2px;
}

.tag-template div:last-child {
  float: left;
  margin-left: 5px;
}
.left-panel {
  float: left;
}

.left-panel img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.right-panel {
  float: left;
  margin-left: 4px;
  margin-top: 5px;
}

.right-panel span:first-child {
  font-size: 14px;
}

.right-panel span:nth-child(2) {
  font-size: 12px;
  color: gray;
}

.right-panel span:last-child {
  display: block;
  font-size: 12px;
  font-style: italic;
}
.editable {
  border-bottom: 1px solid white;
}
.editable:focus{
/*-webkit-box-shadow:inset 0px 0px 0px 10px #f00;
-moz-box-shadow:inset 0px 0px 0px 10px #f00;
 box-shadow:inset 0px 0px 0px 10px #f00;*/
  border-bottom: 1px solid #000; /* or whatever colour you'd prefer */
  /*/outline: 3px solid black;*/
}
.editable:hover{
  border-bottom: 1px solid #000;
}
.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    width: 100%;
    height: 100%;
    margin-left: -10%;
}

tags-input .tags .tag-item {
  margin: 2px;
  padding: 5px 5px;
  display: inline-block;
  float: left;
  font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 26px;
  line-height: 25px;
  font-weight: bold;
  /*border: 1px solid #acacac;*/
  border-radius: 50px;
  /*background: #DEDEDE;*/
  background: transparent;
  border: 0.5px solid grey;

  max-width: 150px;
}

tags-input .tags {
  padding: 1px;
  cursor: text;
  background-color: #fff;
  border-bottom: 1px solid #a9a9a9;
}

.description {
  -moz-border-color:white;
}
.description:focus {
  /*border-color:black;*/
}

</style>

